<header id="home" style="height: 699px;">



      <div class="row banner">
         <div id="a1" class="banner-text">
          <div style="width:100%;max-width:740px;height:500px;margin:0 auto;position:relative;">
            <div style="width:100%;height:40%;margin:0 auto;position:absolute;display:block;top:0;left:0;">
              <h1 class="responsive-headline x1" style="font-size: 74px;"><span class="lb" data-typer-targets="Find, Push, Meet"></span>
               Connect <span data-typer-targets="Team, Grow, Join">Grow</span></h1>
            </div>
            <a class="lg"></a>
          </div>

          <div style="width:100%;height:40%;margin:0 auto;position:absolute;display:block;bottom:0;left:0;">
            <h1 class="responsive-headline x2" style="font-size: 90px;">Motivate <span data-typer-targets="Inspire, Compete">e</span> <span class="lb" data-typer-targets="Challenge, Achieve">e</span></h1>
            <div class="swl"></div>
            <br>
                     <a href="#" class="button">Sign Up</a>
          </div>
       
         </div>
      </div>



      <p class="scrolldown">
         <a class="smoothscroll" href="#two"><svg class="arrows">
              <path class="a1" d="M0 0 L30 32 L60 0"></path>
              <path class="a2" d="M0 20 L30 52 L60 20"></path>
            </svg></a>
      </p>

   </header>