<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<div class="row search-result col-md-8 col-md-offset-2">
<h3>Search Results</h3>
  <%= render partial: '/search/profile', collection: @users %>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>