<div id="content-header">
  <h1>Event Registrations for <%= link_to(@event.name, @event) %></h1>
</div>

<ol id="registrations">
  <% @event_registrations.each do |re| %>
    <li>
      <%= link_to re.profile.name, re.profile %>
      <span class="date">
        <%= time_ago_in_words(re.created_at) %> ago
      </span>
      <span class="how-heard">
         (<%= re.how_heard %>) 
      </span>
    </li>
  <% end %>
</ol>