<div class="container">
  <h2>Gym memers</h2>
  <% if @members.present? %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      <% @members.each do |member| %>
        <tr>
          <td> <%= member.profile.name %> </td>
          <td> <%= member.email %> </td>
          <td>john@example.com</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class = "h1"> No one has yet joined the gym </p>
  <% end %>
</div>
