<h3>Workout partners near you...</h3>
<table class="table table-striped">
  <tr>
    <td>Name</td>
    <td>Location</td>
    <td>Date/Time</td>
    <td>Activity Type</td>
  </tr>
  <%= render partial: 'partner_search/row', collection: @partners %>
</table>