<h3>Workout partners near you...</h3>

<%= render 'form' %>
<hr>

<table class="table table-striped">
  <tr>
    <td>Name</td>
    <td>Workout</td>
    <td>Type</td>
    <td>Date/Time</td>
    <td>Zipcode</td>
  </tr>
  <%= render partial: 'partner_search/row', collection: @partners %>
</table>