/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 *= require_self
 *= require_tree ./homepage
 *= require magnific-popup
*/

div#shell {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 740px;
    cursor: pointer;
}
div#shell.outline {
    border: 0px solid #cccbc8;
}
div#shell {
    z-index: 1;
}
.grid {
    background: url("img/grid2.png") repeat scroll 12px 12px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    margin: 0;
    min-height: 640px;
    padding-bottom: 64px;
    position: relative;
    width: 100%;
}
img#user {
    position: absolute;
    top: 32px;
    left: 47%;
    z-index: 6;
}
img#mshad {
    position: absolute;
    top: 0px;
    left: 46%;
    z-index: 3;
}
img#event {
    position: absolute;
    top: 300px;
    left: 25%;
    z-index: 6;
    opacity: .5;
}
img#user2 {
    position: absolute;
    top: 280px;
    right: 33%;
    z-index: 6;
    opacity: .5;
}
img#trainer {
    position: absolute;
    top: 280px;
    left: 26%;
    z-index: 6;
    opacity: .5;
}
.homebox,
.longhomebox {
    display: block;
    padding: 24px 24px 0;
    position: relative;
    width: 100%;
}
.homebox {
    margin: 32px 0 0;
}
.longhomebox {
    margin: 480px 0 0;
}
div#turn {
    position: absolute;
    top: 180px;
    left: 48%;
    z-index: 4;
    display: block;
    width: 128px;
    height: 156px;
    opacity: 0;
}
div.ldots {
    position: absolute;
    top: 150px;
    right: 2%;
    z-index: 3;
    display: block;
    width: 128px;
    height: 156px;
    opacity: 0;
}
div.rdots {
    position: absolute;
    top: 150px;
    left: 2%;
    z-index: 3;
    display: block;
    width: 128px;
    height: 156px;
    opacity: 0;
}
.lq,
.mq,
.rq {
    position: absolute;
    display: inline-block;
    width: 33.33%;
    height: 100%;
    z-index: 1;
}
.lq {
    top: 0;
    left: 0;
}
.mq {
    top: 0;
    left: 33%;
}
.rq {
    top: 0;
    left: 66%;
}
.lq:hover .homebox {
    outline: 4px solid #EFEFEF;
    background-color: #FFF;
}
.mq:hover .longhomebox {
    outline: 4px solid #EFEFEF;
    background-color: #FFF;
}
.rq:hover .homebox {
    outline: 4px solid #EFEFEF;
    background-color: #FFF;
}
.lq:hover p {
    border: 0px !important;
}
.mq:hover p {
    border: 0px !important;
}
.rq:hover p {
    border: 0px !important;
}
.lq:hover .ldots {
    opacity: 1;
}
.mq:hover #turn {
    opacity: 1;
}
.rq:hover .rdots {
    opacity: 1;
}
.lq:hover #trainer {
    opacity: 1;
}
.mq:hover #event {
    opacity: 1;
}
.rq:hover #user2 {
    opacity: 1;
}
.lq:hover .bb {
    color: #F49F22;
}
.mq:hover .bb {
    color: #F49F22;
}
.rq:hover .bb {
    color: #F49F22;
}
#event:hover {
    opacity: 1;
}
#user2:hover {
    opacity: 1;
}
#trainer:hover {
    opacity: 1;
}
#map {
    background: #1F1F1F url(/assets/homepage/regmap.gif) no-repeat center center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    position: relative;
    height: 640px;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, .5);
}
.m-img {
    width: 50%;
    max-width: 140px;
    height: auto;
}
.qbox {
    background-color: #FFF;
    display: block;
    padding: 24px;
    position: relative;
    width: 100%;
    max-width: 480px;
    height: auto;
    max-height: 72px;
    text-align: left;
    margin: 0 auto;
}
.bc {
    color: #0A60DC;
    font: 18px/0.4em "Oswald", sans-serif !important;
    height: 48px;
    letter-spacing: 8px;
    margin: 0 auto 18px;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.flexslider {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides > li {
    position: relative;
}
.slides > li {
    /* margin-right: 5px; */
    
    overflow: hidden;
}
.slides li {
    margin: 0;
    padding: 0;
}