<h2><%= @date.strftime("%b #{@date.day.ordinalize} %Y") %></h2>
<div class="col-md-6 col-xs-12">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Starts at</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.starts_at.strftime("%l:%M%p") %></td>
          <td><%= link_to truncate(exercise.workout, length: 100), [current_user.profile, exercise] %></td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
<div class="col-md-6 col-xs-12">
  <%= render partial: '/exercises/new' %>
</div>