<h2>My Exercises</h2>

<div class="col-md-6 col-xs-12">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Starts at</th>
        <th>Category</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>

<% if @exercises.present? %>
      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.starts_at.strftime("%c") %></td>
          <td><%= exercise.exercise_category && exercise.exercise_category.name %></td>
          <td><%= link_to truncate(exercise.workout, length: 100), [current_profile, exercise] %></td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>

<% end %>
